body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-image: url('icons/together.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  color: white;
  height: 100vh;
  overflow-x: hidden;
}

.content {
  text-align: center;
  padding: 50px;
  background: rgba(0, 0, 0, 0.6);
  max-width: 600px;
  margin: 50px auto;
  border-radius: 10px;
}

.button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #4CAF50;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  margin: 10px;
}
.button:hover {
  background-color: #45a049;
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.8);
  z-index: 1000;
}
.hidden {
  display: none;
}

.popup-content {
  text-align: center;
  padding: 20px;
  background: white;
  border-radius: 10px;
  max-width: 600px;
  max-height: 80%;
  overflow-y: auto;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
}

.close-button {
  position: absolute;
  top: 20px;
  right: 20px;
  background: rgba(255, 255, 255, 0.7);
  border: none;
  font-size: 24px;
  cursor: pointer;
  padding: 5px 10px;
  border-radius: 5px;
}
.close-button:hover {
  background: white;
  
}

.text-buttons {
  text-align: center;
  margin-top: 30px;
}
